<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Poincaré Quotes</title>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">
    <style type="text/css" media="screen">
      html {
        font-size: 30px;
        font-family: 'Marck Script', cursive;
        text-align: center;
        color: #222;
        line-height: 1.5;
      }
      body {
        width: 30em;
        margin: 0 auto;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h1>{{ quote }}</h1>
    <h2>—Henri Poincaré</h2>
  </body>
</html>
